body {
  padding: 100px; }

.container {
  perspective: 300px;
  transform-style: preserve-3d;
  transition: transform 0.1s;
  transform: rotateY(-47deg) rotateX(-34deg); }

.box {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease; }

.inspect3d {
  position: absolute;
  /*backface-visibility: hidden */ }

.inspect3d-front {
  border: solid 1px #8d8d8d;
  transform-style: preserve-3d;
  background: white; }

.inspect3d-top {
  background: rgba(0, 0, 0, 0.3); }

.inspect3d-right {
  background: rgba(0, 255, 0, 0.3); }

.inspect3d-left {
  background: rgba(255, 0, 0, 0.3); }

.inspect3d-bottom {
  background: rgba(0, 0, 255, 0.3); }
