*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Monda', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 20rem;
}

footer {
  margin-top: 5rem;
}

footer p {
  color: #359EBA;
}

header h1, header h2{
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: rgb(112, 173, 189);
  font: 2.4rem "Unica One",sans-serif;
}

header h2 {
  font: 1.4rem "Unica One",sans-serif;
}

nav {
  width: 10rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li a {
  color: #5E9EC6;
  letter-spacing: .1rem;
}

#SPECIAL {
  cursor: pointer;
}

svg {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

svg line {
  stroke: #3A85E7;
}

svg rect {
  fill: rgba(65, 202, 207, 0.3);
}

.arrow {
  background: rgb(53, 60, 69);
  border-radius: 6px;

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: #EFEFEF;
}

.arrow.show-arrow:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgb(53, 60, 69);;
  border-width: 10px;
  margin-left: -10px;
}

.arrow p {
  padding: 0 5px;
  line-height: 0;
}

.s-tag {
  color: rgb(221, 126, 205);
}

.s-id {
  color: #4CDD5D;
}

.s-class {
  color: rgb(64, 172, 198);
}

line {
  animation: dash 1s linear infinite;
  -webkit-animation: dash 1s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 50;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 50;
  }
}
