body {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  font-family: 'Monda', sans-serif;
}

header h1, header h2{
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: rgb(112, 173, 189);
  font: 2.4rem "Unica One",sans-serif;
}

header a {
  color: rgb(112, 173, 189);
  transition: color .2s ease;
}

header a:hover {
  color: #04479F;
}

header h2 {
  font: 1.4rem "Unica One",sans-serif;
}

header {
  margin-bottom: 3rem;
}

summary {
  font-weight: bold;
}

footer {
  color: #3C3B3B;
}

footer time {
  font-style: italic;
}
